<h1>Fill in the New Patient from.</h1>

<form method="post" action="/patients"> 
    <h4>Name: <input type="text" name="name" id="name" ></h4>
    <h4>Address: <input type="text" name="adress" id="adress" ></h4>
    <h4>Email: <input type="text" name="email" id="email" ></h4>
    <h4>Phone: <input type="text" name="phone" id="phone" ></h4>
    <h4>Description: <textarea name="description" id="description"> </textarea></h4>
    <input type="submit" id="Add" value="Add" name="Add">
</form>