<h1>Fill in the New Patient from.</h1>

<form method="post" action="/patients"> 
    <h4>Full Name: <input type="text" class="form-control" name="name" id="name" placeholder="Full name"></h4>
    <h4>Address: <input type="text" class="form-control" name="adress" id="adress" placeholder="Adress"></h4>
    <h4>Email: <input type="text" class="form-control" name="email" id="email" placeholder="Email"></h4>
    <h4>Phone: <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone number"></h4>
    <h4>Description: <textarea name="description" class="form-control" id="description" placeholder="Add a description"> </textarea></h4>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
