<h1>Insert the form to create a new instance of your model.</h1>
<form method="post" action="/appointments"> 
    <h4>Purpose: <input type="text" name="purpose" id="purpose" ></h4>
    <h4>Dentist ID: <input type="text" name="dentist_id" id="dentist_id" ></h4>
    <h4>Patient ID: <input type="text" name="patient_id" id="patient_id" ></h4>
  
    <input type="submit" id="Add" value="Add" name="Add">
</form>