<h1> Create your appointments here </h1>

<form method="post" action="/appointments"> 
    <h4>Purpose: <input type="text" class="form-control" placeholder="Purpose of the appointment" name="purpose" id="purpose" ></h4>
    <h4>Dentist ID: <input type="text" class="form-control" placeholder="Dentist ID" name="dentist_id" id="dentist_id" ></h4>
    <h4>Patient ID: <input type="text" class="form-control" placeholder="Patient ID" name="patient_id" id="patient_id" ></h4>
    <h4>Date: <input type="text" class="form-control" placeholder="Appointment Date" name="appoinment_date" id="appoinment_date" ></h4>
  
    <input type="submit" class="btn btn-primary" id="Add" value="Add" name="Add">
</form>