

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h1>Hi Dentist, welcome your Page!</h1>
      <div class="content">
        <form method="post" action="/dentists"> 
          <br>
          <h3>Please <a href="/dentists/login" class="btn btn-primary"> Login</a> or <a href="/dentists/new" class="btn btn-primary">Sign up</a> if you are new!</h3>   
        </form>
      </div>
    </div>

    <div class="col-md-2"> 
      <div class="">
        <img src="images/5.png" class="img-responsive bulb">
      </div>
    </div>
  </div>
</div>
