<div class="container">
  <header><img src="images/3.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Dentist's Page</h2>

    <div class="content">
      <br>

      <form method="post" action="/dentists"> 
        <h4>Hi Dentist, welcome your Page!</h4>
        <br>
        <h4>Please <a href="/login" class="btn"> Login</a> to proceed!    
        or <a href="/dentists/new">sign up</a> if you are new!</h4>   
       
      </form>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
