<h1>Dentist's home page</h1>

<h5> My <a href="/patients" class="btn btn-primary"> Patients </a> </h5>
<h5> Create <a href="/patients/new" class="btn btn-primary"> Patients </a> </h5>
<h5> ------------------------------------------------------ </h5>
<h5> My <a href="/appointments" class="btn btn-primary"> Appointments </a> </h5>
<h5> Create <a href="/appointments/new" class="btn btn-primary"> Appointments </a> </h5>
<h5> ------------------------------------------------------ </h5>
<h5> <a href="/dentists/show" class="btn btn-primary"> Dentists </a> </h5>

<br>
<br>

<a href="/"><input class="btn btn-primary" type="submit" value="Home"  ></a>
