<h1>Dentist's home page</h1>

<br>
<br>

<h4> My <a href="/patients"> Patients </a> </h4>
<h4> Create <a href="/patients/new"> Patients </a> </h4>
<h4> ------------------------------------------------------ </h4>
<h4> My <a href="/appointments"> Appointments </a> </h4>
<h4> Create <a href="/appointments/new"> Appointments </a> </h4>