<h1>Login page</h1>
<form method="post" action="/dentists"> 
    <h4>Please Login below!</h4>        
    <p>Username: <input type="text" name="username" id="username"></p>
    <p>Password: <input type="text" name="password" id="password"></p>
    <input type="submit" id="Log In" value="Log In" name="Log In">
</form>