<h1>Signup below!</h1>

<form method="post" action="/dentists"> 
    <h4>Name: <input type="text" name="name" id="name" ></h4>
    <h4>Username: <input type="text" name="username" id="username" ></h4>
    <h4>Email: <input type="text" name="email" id="email" ></h4>
    <h4>Password: <input type="text" name="password" id="password" ></h4>
    <input type="submit" id="Sign up" value="Sign up" name="Sign up">
</form>